[submodule "external/tree-sitter"]
	path = external/tree-sitter
	url = https://github.com/tree-sitter/tree-sitter
[submodule "external/tree-sitter-java"]
	path = external/tree-sitter-java
	url = https://github.com/tree-sitter/tree-sitter-java
